/* nav {
  z-index: 10;
  width: 100%;

  display: flex;
} */
.blur-nav {
  backdrop-filter: blur(10px);
  background-color: rgba(17, 10, 32, 0.3);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  z-index: 1;
  height: 70px;
  position: fixed;
  top: 0;
  padding-left: 10%;
}
.navbar li {
  display: inline;
  margin: 0 25px;
  list-style: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
svg.menu-icon {
  display: none;
}
.side-nav {
  top: 0;
  right: 0px;
  position: fixed;
  transition: 0.4s;
  font-size: 18px;
  height: 100vh;
  width: 300px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(40px);
  background-color: rgba(17, 10, 32, 0.3);
}
.side-nav li {
  display: block;
  margin: 20px 25px;
  list-style: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.dis-side-nav {
  width: 0px;
}
.close-icon {
  width: 40px;
  height: 40px;
}
/* --------media queries --------- */
@media (max-width: 800px) {
  svg.menu-icon {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
    top: 20px;
  }
  #nav-link {
    display: none;
  }
}
